.row::after {
	content: "";
	clear: both;
	display: table;
}

.column {
	float: left;
	width: 100%;
	padding: 10px;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

/*sections of the code for the Main intro*/
.intro{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.column{
    flex-basis: 31%;
    background: rgb(172, 98, 98);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.column:hover{
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
	.column {
		float: left;
		width: 50%;
		padding: 10px;
	}
}

@media (min-width: 992px) {
	.column {
		float: left;
		width: 33.33%;
		padding: 10px;
	}
}

@media (min-width: 1200px) {
	.column {
		float: left;
		width: 25%;
		padding: 10px;
	}
}

* {
    box-sizing: border-box;
  }
  

  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  

  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }

  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
 
  .img {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    height:200px
  }
  
  .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
     
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }